<app-visitor-header></app-visitor-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <ion-item fill="outline" color="warning">
      <ion-label position="floating">FirstName</ion-label>
      <ion-input type="text" [(ngModel)]="firstName" name="firstName" required></ion-input>
    </ion-item>

    <ion-item fill="outline" color="warning">
      <ion-label position="floating">LastName</ion-label>
      <ion-input type="text" [(ngModel)]="lastName" name="lastName" required></ion-input>
    </ion-item>

    <ion-item fill="outline" color="warning">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item fill="outline" color="warning">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item fill="outline" color="warning">
      <ion-label position="floating">Confirm-Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="register()">Register</ion-button>
    <div class="sign-up">
      Already have an account?
      <ion-button class="remove-bg inscrire-button" fill="clear" routerDirection="forward" (click)="openLoginPage()">Sign In</ion-button>
    </div>
  </div>
</ion-content>
