ion-header{
  border-radius: 0px 0px 30px 30px;
  display: block;
  padding: 10px 20px;
  position: relative;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin: 0 0 20px;
  ion-row{
    align-items: center;
  }
  ion-icon{
    background-color: var(--ion-color-light);
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px 5px 5px;
    &:hover {
      background-color: lighten(rgb(210, 210, 210), 10%);
    }
  }
}
.title{
  background-color: rgba(250, 248, 248, 0.6);
  border-radius: 40px 0 40px 0 ;
  padding: 8px;
}
.strokeme{
  color: var(--ion-color-light);
  font-size: 30px;
  text-shadow: -1px -1px 0 #e05403, 1px -1px 0 #e05403, -1px 1px 0 #e05403, 1px 1px 0 #e05403;
}
.strokeme2{
  color: var(--ion-color-light);
  text-shadow: -1px -1px 0 #2e1a0e, 1px -1px 0 #2e1a0e, -1px 1px 0 #2e1a0e, 1px 1px 0 #e05403;
}

.rating{
  align-items: center;
  margin: -30px 0 0;
  .color-text{
    color: var(--ion-color-secondary);
    font-weight: bold;
  }
}
.price{
  text-decoration: line-through;
  font-size: 14px;
}
.brand{
  font-size: 16px;
  color: var(--ion-color-secondary);
  font-weight: 600;
}
.new-price{
  font-size: 16px;
  color: var(--ion-color-primary);
  font-weight: bold;
}
.price-container{
  height: 60px;
  align-items: center;
}
.product-panier{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-dark);
  font-size: 14px;
  margin: 20px 0;
  ion-button{
    --border-radius: 60px;
    --font-size: 18px;
    font-weight: bold;
  }
  .cart-button-green{
    margin-left: 3px;
  }
  .cart-button-red{
    margin-right: 3px !important;
  }
}
.right-favorite{
  text-align: center;
  align-items: center;
  ion-button{
    --background: transparent;
    --box-shadow: none;
    color: var(--ion-color-medium);
  }
}
ion-thumbnail{
  --size: 30%;
  ion-img{
    border-radius: 20px;
  }
}

.discount{
  background-color: var(--ion-color-primary);
  border-radius: 45%;
  text-align: center;
  padding:0px 10px;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.favorite{
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  padding: 5px;
  color: var(--ion-color-light) !important;
  font-weight: bold;
  text-align: center;
  vertical-align:middle;
  margin:40px 10px 0;
}
.favorite:active{
  background-color: var(--ion-color-danger-shade);
}


