<ion-content [fullscreen]="true" color="light">
  <ion-grid class="main-header">
    <div class="back">
      <ion-back-button slot="start" defaultHref="/admin/sellers"></ion-back-button>
    </div>
    <div align="center">
      <ion-avatar>
        <img [src]="seller.photo">
      </ion-avatar>
    </div>
    <div class="back"></div>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-icon size="medium" name="person" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="seller.first_name" [value]="seller.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon size="medium" name="person" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="seller.last_name" [value]="seller.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon size="medium" name="mail" slot="start"></ion-icon>
      <ion-input type="email" [(ngModel)]="seller.email" [value]="seller.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon size="medium" name="call" slot="start"></ion-icon>
      <ion-input type="tel" [(ngModel)]="seller.phone_number" [value]="seller.phone_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon size="medium" name="calendar" slot="start"></ion-icon>
      <ion-input type="date" [(ngModel)]="seller.date_of_birth" [value]="seller.date_of_birth"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon size="medium" name="location" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="seller.address" [value]="seller.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button class="button-upd" expand="full" (click)="updateSeller(seller.id)">Update Seller</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
