
<ion-content [fullscreen]="true" color="light">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/admin/sellers"></ion-back-button>
  
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/seller2.png">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-list >
    <ion-item>
      <ion-label>
        <ion-text>
          Name
        </ion-text>
        <p><ion-text color="dark">Ben Amor Ranim</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          Email
        </ion-text>
        <p><ion-text color="dark">BenAmorRanim&#64;gmail.com</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          Phone Number
        </ion-text>
        <p><ion-text color="dark">22065310</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          Address
        </ion-text>
        <p><ion-text color="dark">Tunis - Ariana</ion-text></p>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>