ion-content{
  --background: rgb(247, 247, 247);
}
.image-container{
  text-align: center;
  padding: 0 20px ;
  width: 100%;
}
.product-image{                                                                                                                                                                                                                                      
  padding: 5px;
  img{
    border-radius: 25px;
    width: 250px;
    height: 280px;
  }
}
.image-wrapper.active {
  border: 3px solid var(--ion-color-primary);
}
.image-wrapper {
  border: 3px solid var(--ion-color-medium);
  width: 60px;
  border-radius: 15px;
  margin: 2px 0;
  img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
  }
}
.tabs {
  display: flex;
  margin-top: 10px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 0 8px;
}

.tab.active {
  background-color: #fff;
  color: var(--ion-color-primary);
  font-weight: bold;
}
.tab-content{
  padding:0 20px;
}

.discount{
  background-color: var(--ion-color-primary);
  border-radius: 30%;
  text-align: center;
  padding:0px 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.price{
  text-decoration: line-through;
  font-size: 14px;
}
.name-product{
  font-size: 20px;
  color: var(--ion-color-medium);
  font-weight: bold;
  margin-bottom: -10px;
}
.brand{
  font-size: 16px;
  color: var(--ion-color-secondary);
  margin-bottom: -10px;
  font-weight: 600;
}
.new-price{
  font-size: 16px;
  color: var(--ion-color-primary);
  font-weight: bold;
}
ion-progress-bar {
  width: 100%;
}
ion-progress-bar .progress-bar-background {
  background-color: #ffd3a2;
}
ion-progress-bar .progress-bar-fill {
  background-color: var(--ion-color-primary);
}
.total-rate{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  span{
    font-size: 35px;
    font-weight: bold;
  }
  app-star-rating{
    margin-left: 50px;
  }
  .color-text{
    margin-top: -2px;
  }
}
.rating{
  align-items: center;
  display: flex;
  .color-text{
    color: var(--ion-color-secondary);
    font-weight: bold;
  }
}
.reviews-list{
  ion-img{
  width: 50px;
  border-radius: 50%;
 }
}
.rating-user{
  align-items: center;
  display: flex;
  justify-content: space-between;
  .left{
    align-items: center;
    display: flex;
    font-weight: bold;
  }
}




















.ul-size li {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li.active {
  background: #f35e3d;
  color: #fff;
}
.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li.orange {
  background: #f35e3d;
}

.ul-color li.green {
  background: #11e95b;
}

.ul-color li.yellow {
  background: #ffd414;
}

.ul-color li.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}
