<div class="wrapper">
  <div >
    <div class="product-img">
      <img [src]="product.image" alt="{{ product.name }}" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{ product.name }}</h1>
        <h2>Here are the details of the product you added:</h2>
        <p>{{ product.description }}</p>
      </div>
      <div class="product-price-btn">
        <p><strong>Price:</strong> {{ product.price | currency }}</p>
       <div> <button  expand="block" (click)="dismiss()" class="close-button">Close</button></div>
      </div>
    </div>
  </div>
</div>
