<ion-header>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-button>
        <!-- Start button content -->
      </ion-button>
    </ion-buttons>
    <ion-title class="app-name">Be Trendy</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="assets/logo1.png" alt="Logo" class="logo"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <ion-note color="light" class="ion-margin-start">
            Welcome dear seller !
          </ion-note>
          <p>
            <ion-chip color="light">
              <ion-label class="ion-text-wrap">
                Your dashboard
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="light">
          <b  style="color: brown;">All Informations about the products</b>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal">
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="assets/products.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span class="darker-number">600</span>

            <ion-label color="dark"> Total of products</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="assets/products.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span class="darker-number">500</span>
            <ion-label color="dark"> Products per a year </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="assets/checklist.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span class="darker-number">600</span>

            <ion-label color="dark">Products per a months </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="assets/fast.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span class="darker-number">500</span>

            <ion-label color="dark"> Products per a day </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-list-header>
        <ion-label>More Informations</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-icon slot="start" name="pricetag" style="color: brown;"></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Product Price Range:</b>
          <p>$100 - $200</p>
          <p>January 1, 2024</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="calendar" style="color: brown;"></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Recent Adding Product Date: </b>
          <p>March 25, 2024</p>
        </ion-label>
      </ion-item>


    </ion-list>
  </ion-grid>

</ion-content>

<router-outlet></router-outlet>

