ion-content {
    
  
    ion-button {
      --color: #fff; // Text color
      --background: orange; // Orange color for background
      font-size: 20px; // Larger font size
      border-radius: 20px; // Rounded corners
      padding: 10px 20px; // Padding
      margin-top: 20px; // Top margin
    }
  }
  