  
    <div class="main-header"></div>

  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button  style="color: tomato;" (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked" class="ion-text-large">Name</ion-label>
      <ion-input type="text" [(ngModel)]="seller.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="ion-text-large">Email</ion-label>
      <ion-input type="email" [(ngModel)]="seller.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="ion-text-large">Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="seller.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="ion-text-large">Address</ion-label>
      <ion-textarea rows="5" [(ngModel)]="seller.address"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button size="small"  (click)="saveChanges()">Save Changes</ion-button>
  </div>
</ion-content>
