<ion-header>
  <ion-row>
    <ion-col size="2"  (click)="goBackToLatestPage()" style="cursor: pointer;">
      <ion-icon size="large" name="chevron-back-outline"></ion-icon>
    </ion-col>
    <ion-col size="7">
      <h1>Categories</h1>
    </ion-col>
    <ion-col size="3">
      <ion-img src="assets/categories.png"></ion-img>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-grid *ngIf="categories">
    <ion-row *ngFor="let category of categories" (click)="goToSubcategories(category.id)">
      <ion-col size="6">
        <h2 class="title-sub">{{ category.name }}</h2>
      </ion-col>
      <ion-col class="img" size="6" style="background-image: url('{{ category.image }}');"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
