<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs >
  <ion-tab-bar slot="bottom" *ngIf="!isWelcomePage">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon name="list-sharp"></ion-icon>
      Categories
    </ion-tab-button>
    <ion-tab-button tab="profil-visiteur">
      <ion-icon name="person-sharp"></ion-icon>
      Profil
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      Cart
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
