<app-visitor-header></app-visitor-header>


<ion-content class="ion-padding">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item fill="outline" color="warning">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ion-icon name="mail" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <ion-text color="danger" stacked>Email is required and must be a valid email</ion-text>
      </div>
      <ion-item fill="outline" color="warning">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <ion-text color="danger" stacked>Password is required</ion-text>
      </div>
      <ion-button shape="round" expand="block" class="login-button" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    </form>
    <ion-button class="remove-bg" fill="clear" (click)="openForgot()" routerDirection="forward">Forgot password?</ion-button>
      <div class="sign-up">
        Don't have an account?
        <ion-button class="remove-bg inscrire-button" fill="clear" routerDirection="forward" (click)="openInscrirePage()">Sign up</ion-button>
      </div>
  </div>
</ion-content>
