<app-visitor-header></app-visitor-header>

<ion-content>
  <ion-grid>
    <ng-container *ngIf="cartItems.length>0">
    <ion-row *ngFor="let row of chunk(cartItems, 2)">
      <ng-container *ngFor="let product of row">
        <ion-col size-lg="6" size-md="6" size="12">
          <ion-item *ngIf="product.quantity !== 0" lines="full">
            <ion-thumbnail slot="start">
              <ion-img [src]="product.image"></ion-img>
              <ion-icon class="favorite" color="light" name="heart-sharp" (click)="addToFavorites()"></ion-icon>
            </ion-thumbnail>
            <ion-label>
              <ion-row>
                <ion-col size="7.8">
                  <h2>{{ product.name }}</h2>
                  <p class="brand">{{ product.brand }}</p>
                  <ion-row class="price-container"  *ngIf="product.discount !== '0.00'">
                    <ion-col size="5">
                      <p class="new-price">${{ product.price - (product.price * product.discount / 100) }}</p>
                    </ion-col>
                    <ion-col>
                      <p class="price">${{ product.price }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="price-container"  *ngIf="product.discount === '0.00'">
                    <ion-col>
                      <p class="new-price">${{ product.price }}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="4.2" class="left-panier">
                  <ion-row *ngIf="product.quantity > 0" class="product-panier">
                    <ion-button color="danger" expand="block" class="cart-button-red" (click)="decrementItem(product)">-</ion-button>
                    {{ product.quantity }}
                    <ion-button color="success" expand="block" class="cart-button-green" (click)="incrementItem(product)">+</ion-button>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="rating">
                <ion-col size="5.5">
                  <app-star-rating [(rating)]="product.rating"></app-star-rating>
                </ion-col>
                <ion-col size="0.5" class="color-text">
                  <h1>|</h1>
                </ion-col>
                <ion-col size="3.5" class="color-text">
                  <p>({{ product.total_reviews }} client)</p>
                </ion-col>
                <ion-col size="1.5">
                  <ion-badge class="discount">
                  <p *ngIf="product.discount !== '0.00'" >{{ formatDiscount(product.discount) }}%</p>
                </ion-badge>
              </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-col>
      </ng-container>
    </ion-row>
    </ng-container>
    <ng-container *ngIf="cartItems.length === 0">
      <div class="center-container">
        <ion-img src="assets/not-found.PNG" alt="not found" class="not-found"></ion-img>
        <p>No products found.</p>
      </div>
    </ng-container>
  </ion-grid>
  <div class="more-product">
    <p class="msg">Select other products:</p>
      <ion-card *ngFor="let product of products">
            <ion-card-header class="product-image" [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }">
              <ion-row>
                <ion-col size="3">
                  <p class="discount" *ngIf="product.discount !== '0.00'" >{{ formatDiscount(product.discount) }}%</p>
                </ion-col>
                <ion-col size="6" class="show-more">
                  <ion-icon name="eye-outline" size="large" class="eye-icon" (click)="openProductDetails(product)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-icon class="favorite" size="large" color="light" name="heart-sharp" (click)="toggleFavorite(product)"></ion-icon>
              <ion-card-title>{{ product.name }}</ion-card-title>
              <ion-card-subtitle class="brand">{{ product.brand }}</ion-card-subtitle>
              <ion-grid>
                <ion-row class="price-container">
                  <ion-col size="9" *ngIf="product.discount !== '0'">
                    <p class="price">${{ product.price }}</p>
                  </ion-col>
                  <ion-col size="9" *ngIf="product.discount === '0.00'">
                    <p class="new-price">${{ product.price }}</p>
                  </ion-col>
                  <ion-col size="3">
                    <ion-badge class="rating">
                      <ion-icon name="star" size="small"></ion-icon>
                      <span class="rating-value">{{ product.total_reviews > 0 ? (product.total_ratings / product.total_reviews % 1 !== 0 ? (product.total_ratings / product.total_reviews).toFixed(2) : (product.total_ratings / product.total_reviews)) : 0 }}</span>
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-button *ngIf="product && product.quantity === 0" expand="block" class="cart-button" (click)="toggleItem(product)">
                Add
                <ion-icon class="spaced-icon" slot="end" size="large" icon="cart"></ion-icon>
              </ion-button>

              <ion-row *ngIf="product && product.quantity > 0" class="product-panier">
                <ion-button color="danger" expand="block" class="cart-button-red" (click)="decrementItem(product)">-</ion-button>
                {{ product.quantity }}
                <ion-button color="success" expand="block" class="cart-button-green" (click)="incrementItem(product)">+</ion-button>
              </ion-row>
            </ion-card-content>
     </ion-card>
    </div>
</ion-content>

<ion-footer>
  <p class="total">Total:</p>
  <div class="total-price">
    <p class="price">${{ getTotalSum() }}</p>
    <p class="new-price">${{ getTotalSumDiscount() }}</p>
  </div>
  <ion-button>
    Checkout
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-footer>


