.form-container {
  margin: 10px 50px;
  text-align: center;
  ion-item {
    --padding-start: 10px;
    margin: 25px 2px;
    align-items: center;
    border-radius: 20px;
    padding: 10px 10px 0;
    border: 3px solid var(--ion-color-medium);
    text-align: center;
  }
  ion-item.active{
    border: 3px solid var(--ion-color-primary) !important;
  }
  ion-button {
    height: 45px;
    text-transform: capitalize;
    --background: linear-gradient(120deg, #f9b47c 0%, var(--ion-color-primary) 100%);
  }
}
h1{
  color: var(--ion-color-secondary);
  margin: 35px 0;
  font-weight: bold;
}
p{
  color: var(--ion-color-medium);
}
