<app-visitor-header></app-visitor-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <ion-grid>
      <h1>Verification code</h1>
      <p>We have sent the verification otp code to your email address: {{ email }}</p>
      <ion-row>
        <ion-col size="3" *ngFor="let digit of otpDigits; let i = index">
          <ion-item [class.active]="activeInput === i" (click)="activateInput(i)">
            <ion-input type="tel" [(ngModel)]="otpDigitInputs[i]" maxlength="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button shape="round" expand="block" (click)="verifyOTP()" [disabled]="!isFormValid()">Confirm</ion-button>
  </div>
</ion-content>

