<ion-header *ngIf="categories" style="background-image: url('{{ categories.image }}');">
  <ion-title class="strokeme">{{ categories.name }}</ion-title>
  <p class="strokeme2">{{ categories.description }}</p>
</ion-header>

<ion-content *ngIf="categories">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let subcategory of categories.subcategories">
        <ion-card >
          <ion-card-header style="background-image: url('{{ subcategory.image }}');">
          </ion-card-header>
          <ion-card-content>
              <h2 class="title-sub">{{ subcategory.name }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
