<ion-header>
    <ion-title>Subcategories</ion-title>
</ion-header>

<ion-content>
    <ion-item *ngFor="let category of categories">
      <ion-thumbnail slot="start">
        <ion-img [src]="category.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
      </ion-label>
    </ion-item>

    <ion-card lines="full" *ngFor="let category of categories">
        <ion-item *ngFor="let subcategory of category.subcategories">
          <ion-thumbnail slot="start">
            <ion-img [src]="subcategory.image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ subcategory.name }}</h2>
            <p>{{ subcategory.description }}</p>
          </ion-label>
        </ion-item>
    </ion-card>
</ion-content>
