/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.custom-modal {
  align-items: center;
  justify-content: center;
  .alert-head{
    background-image: url('assets/discount.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 10px;
  }
  .alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md {
    padding: 0 15px !important;
  }
  .alert-input{
    border: 3px solid rgb(228, 95, 0) !important;
    padding: 10px;
    border-radius: 8px;
    &:focus,
    &:hover {
      border:3px solid rgb(255, 162, 0) !important;
    }
  }
  .alert-wrapper.sc-ion-alert-md{
    min-width: 400px !important;
  }
  .alert-button-group.sc-ion-alert-md {
    justify-content: center !important;
  }
  .alert-button.sc-ion-alert-md {
    background-color: rgb(228, 95, 0);
    color: var(--ion-color-light) !important;
    font-weight: bold;
    width: 120px;
    border-radius: 10px;
    align-content: center;
  }
  .alert-button-inner.sc-ion-alert-md {
    justify-content: center;
  }
  .alert-wrapper {
    border-radius: 35px;
    height: 55%;
    border: 5px dashed rgb(228, 95, 0);
    .container{
      text-align: center;
      h2{
        color: rgb(255, 106, 0);
        font-size: 1.5rem;
        font-weight: bold;
      }
      p{
        color: rgb(108, 108, 108);
        font-size: 14px;
        margin: 10px;
      }
    }
  }
}
.validation-errors {
  padding-top: 5px;
  text-align: left;

  .error-message {
    color: red;
    font-size: 12px;
  }
}

.custom-modal-success{
  text-align: center;
  align-items: center;
  justify-content: center;
  .alert-button-group.sc-ion-alert-md {
    justify-content: center !important;
  }
  .alert-button.sc-ion-alert-md {
    background-color: rgb(41, 189, 0);
    color: var(--ion-color-light) !important;
    font-weight: bold;
    width: 120px;
    border-radius: 10px;
    align-content: center;
  }
  .alert-button-inner.sc-ion-alert-md {
    justify-content: center;
  }
  .alert-wrapper {
    border-radius: 35px;
    border: 5px dashed rgb(41, 189, 0);
  }
  .alert-title{
    color: rgb(41, 189, 0);
    text-align: center
  }
}
.custom-modal-error,.failed-alert{
  text-align: center;
  align-items: center;
  justify-content: center;
  .alert-button-group.sc-ion-alert-md {
    justify-content: center !important;
  }
  .alert-button.sc-ion-alert-md {
    background-color: rgb(228, 1, 1);
    color: var(--ion-color-light) !important;
    font-weight: bold;
    width: 120px;
    border-radius: 10px;
    align-content: center;
  }
  .alert-button-inner.sc-ion-alert-md {
    justify-content: center;
  }
  .alert-wrapper {
    border-radius: 35px;
    border: 5px dashed rgb(228, 1, 1);
  }
  .alert-title{
    color: rgb(228, 1, 1);
    text-align: center;
  }
}

.success-alert, .failed-alert{
  .alert-wrapper{
    background-color: #FFD4D4;
    min-width: 360px;
    font-size: 11px;
  }
  img{
    width: 80px;
  }
  .alert-title{
    font-size: 30px;
    font-weight: bold;
  }
}
.success-alert{
  text-align: center;
  align-items: center;
  justify-content: center;
  .alert-button-group.sc-ion-alert-md {
    justify-content: center !important;
  }
  .alert-button.sc-ion-alert-md {
    background-color:  var(--ion-color-primary);
    color: var(--ion-color-light) !important;
    font-weight: bold;
    width: 120px;
    border-radius: 10px;
    align-content: center;
  }
  .alert-button-inner.sc-ion-alert-md {
    justify-content: center;
  }
  .alert-wrapper {
    border-radius: 45px;
    border: 4px solid var(--ion-color-primary);
  }
  .alert-title{
    color: var(--ion-color-primary);
    text-align: center;
    font-size:25px !important;
  }
}
