<app-visitor-header></app-visitor-header>

<ion-content class="ion-padding">
  <p class="text-forgot">Enter Email Address</p>
  <div class="form-container">
    <ion-item fill="outline" color="warning">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="sendResetLink()" shape="round" style="font-weight: bold;">Send Reset Link</ion-button>

    <ion-button class="remove-bg" fill="clear" (click)="openLogin()" routerDirection="forward">Back to sign In?</ion-button>
    <div class="sign-up">
      Don't have an account?
      <ion-button class="remove-bg inscrire-button" fill="clear" routerDirection="forward" (click)="openInscrirePage()">Sign up</ion-button>
    </div>
  </div>
</ion-content>
