.form-container {
  margin: 0px 40px;
  text-align: center;

  ion-item {
    --padding-start: 10px;
    --border-color: #DADADA;
    margin: 20px 0 42px;
    align-items: center;
  }
  ion-item ion-label {
    color: #A6A6A6;
  }
  ion-item ion-icon {
    color: #c6cbd4;
  }
  ion-button {
    height: 45px;
    text-transform: capitalize;
    --background: linear-gradient(120deg, #f9b47c 0%, var(--ion-color-primary) 100%);
  }
  .login-button{
    font-weight: bold;
    font-size: 16px;
    margin: 60px 0 10px 0;
  }
  ion-button.remove-bg{
    --background: transparent;
    --box-shadow: none;
    color: var(--ion-color-medium);
  }
  .inscrire-button{
    color: #f15704 !important;
    font-weight: bold;
    text-decoration: underline;
  }
}
.text-forgot{
  margin: 50px 40px 0;
  color: #818181;
}
.sign-up {
  display: flex;
  justify-content:center;
  align-items: center;
  color: #818181 ;
}
