<app-visitor-header></app-visitor-header>
<ion-content class="ion-padding">
  <div class="form-container">
    <h1>Update Password</h1>
    <p>Please set a new password for your account:</p>
    <form [formGroup]="resetForm" (ngSubmit)="reset()">
      <ion-item fill="outline" color="warning">
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
        <ion-text class="error" color="danger" *ngFor="let error of getErrorMessages('password')">{{ error }}</ion-text>
      </div>

      <ion-item fill="outline" color="warning">
        <ion-label position="floating">Confirm-Password</ion-label>
        <ion-input class="error" type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div *ngIf="resetForm.get('confirm_password')?.invalid && resetForm.get('confirm_password')?.touched">
        <ion-text class="error" color="danger" *ngFor="let error of getErrorMessages('confirm_password')">{{ error }}</ion-text>
      </div>
      <ion-button expand="block" shape="round" class="reset-button" type="submit" [disabled]="resetForm.invalid">reset</ion-button>
    </form>
  </div>
</ion-content>
