.form-container {
  margin: 0 40px;
  ion-item {
    --padding-start: 10px;
    --border-color: #DADADA;
    margin-top: 15px;
    align-items: center;
  }
  ion-item ion-label {
    color: #A6A6A6;
  }
  ion-item ion-icon {
    color: #c6cbd4;
  }
  ion-button {
    height: 45px;
    margin-top: 15px;
    text-transform: capitalize;
    --background: linear-gradient(120deg, #f9b47c 0%, var(--ion-color-primary) 100%);
  }
}
.error{
  font-size: 10px !important;
}
h1{
  color: var(--ion-color-secondary);
  margin: 50px 0 10px;
  font-weight: bold;
  text-align: center;
}
p{
  color: var(--ion-color-medium);
  text-align: center;
  margin:0 0 50px;
}
