.scroll{
  flex-wrap: nowrap;
  overflow-x: scroll!important;
  overflow-y: hidden;
  }
  ion-segment-button {
    min-width: 80px !important;
    margin: 3px;
    border-radius: 25px;
    border: 1px solid #ccc;
  }

  ion-segment-button.ion-activated {
    border-color: #f05204;
    border: 3px solid #f05204;
    font-weight: bold;
  }
  ion-segment-button::part(indicator-background) {
    background: transparent;
  }
  .segment-button-checked.md::part(native) {
    color: #f05204;
  }

  .rating{
    background-color: #f05204;
    border-radius: 20px;
    padding: 5px 10px !important;
  }
  .price{
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 700;
  }
  .new-price{
    font-size: 18px;
    color: #f05204;
    font-weight: bold;
  }

.category{
  font-size: 12px;
  color: #9b9b9b;
}
.product{
  font-size: 22px;
  color: #3d3d3d;
}


ion-searchbar.custom-search-product {
  --background: #f1f2f4  ;
  --color: rgb(78, 78, 78)  ;
  --placeholder-color:rgb(125, 125, 125)  ;
  --border-radius: 20px;
}

ion-icon {
  font-size: 25px !important;
}

// ion-content {
//   ion-col {
//     display: flex;
//   }
// }

// ion-card {
//   ion-card-content {
//     padding: 0 !important;
//     ion-card-title {
//       padding-top: 1.5rem !important;
//       padding-bottom: 1.5rem !important;
//     }
//   }
// }
ion-card {
  height: 100%;
  min-width: 250px;
  margin: 15px;
}

.product-image {
  width: 100%;
}
 .header-product , header-product ion-toolbar{
   --background-color: #f05204 !important;
}
